.home-container{
    min-height: 100vh;
}
.home-background{
    width:50vw;
    position: absolute;
    top: 4rem;
    z-index: -2;
}

.scan-btn{
    margin-top: 15rem;
}

#video{
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: -4rem;
    left: -7rem;
}
@media screen and (max-width: 768px) {
    .home-background{
        width: 100vw;
        padding-top: 8rem;
    }
}